<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <h1>Videos of the year 2016</h1>

    <p class="chatter">
      Our favorite Seattle Times video stories and short documentaries of 2016
    </p>

    <div class="feature-player">
      <div class="video-container aspect-outer pending">
        <div class="aspect-inner">
          <div id="firstVid"></div>
          <div id="secondVid">
          <script src="https://cdn.jwplayer.com/players/rymV46af-UXknQA8J.js"></script>
          </div>
        </div>
      </div>
      <hr class="divider">
      <div class="mainVidStats">
        <div id="title-hed">Under Our Skin</div>
        <div id="title">Watch the full project at <a href="st.news/under-our-skin" target="_blank" rel="nofollow noreferrer noopener">st.news/under-our-skin</a></div>
        <div id="title-link"><a id="story-link" href="https://www.seattletimes.com/video/" target="_blank" rel="nofollow noreferrer noopener">Read more &raquo;</a></div>
      </div>

      <div class="playlist-controls">
        <div class="playlist-container loading"></div>
        </div>
    </div>

    <%= t.include("partials/_navBottom.html") %>
    <script src="https://cdn.jwplayer.com/libraries/oNGue23q.js"></script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
